.boxBar {
    z-index: 1;
    width: 100%;
    border: 5px solid blueviolet;
    position: sticky;
    top: 0;
    left: 0;
}

.bar {
    height: 21px;
    background: turquoise;
    width: 0%;
}
#maintitle {
    text-align: center;
    color: darkgoldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
    text-align: center;
}
#form {
    text-align: center;
}

user-box {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
